<%= form_for @shortening, remote: true do |f| %>
  <%= f.label :url, "paste (<span>ctrl</span>+v) the URL below:".html_safe %><br/>
  <%= f.text_field :url, { placeholder: "paste (ctrl+v) the URL here" } %>
<% end %>

<br/>

<%= form_tag '#', id: 'show_shortened', remote: true do |f| %>
  <%= label_tag :shortened_url, "copy (<span>ctrl</span>+c) the shortened URL:".html_safe %><br/>
  <%= hidden_field_tag :root_url, root_url %>
  <%= text_field_tag :shortened_url %>
<% end %>
